<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#FFB3A7</key>
	<dict>
		<key>key</key>
		<string>#FFB3A7</string>
		<key>name</key>
		<string>粉红色</string>
		<key>remark</key>
		<string></string>
		<key>rgb</key>
		<dict>
			<key>red</key>
			<integer>255</integer>
			<key>green</key>
			<integer>179</integer>
			<key>blue</key>
			<integer>167</integer>
		</dict>
	</dict>
	<key>#FF2121</key>
	<dict>
		<key>key</key>
		<string>#FF2121</string>
		<key>rgb</key>
		<dict>
			<key>red</key>
			<integer>255</integer>
			<key>green</key>
			<integer>33</integer>
			<key>blue</key>
			<integer>33</integer>
		</dict>
		<key>remark</key>
		<string></string>
		<key>name</key>
		<string>大红色</string>
	</dict>
	<key>#9D2933</key>
	<dict>
		<key>key</key>
		<string>#9D2933</string>
		<key>rgb</key>
		<dict>
			<key>red</key>
			<integer>157</integer>
			<key>green</key>
			<integer>41</integer>
			<key>blue</key>
			<integer>51</integer>
		</dict>
		<key>remark</key>
		<string></string>
		<key>name</key>
		<string>胭脂色</string>
	</dict>
	<key>#FF0097</key>
	<dict>
		<key>key</key>
		<string>#FF0097</string>
		<key>rgb</key>
		<dict>
			<key>red</key>
			<integer>255</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>151</integer>
		</dict>
		<key>remark</key>
		<string></string>
		<key>name</key>
		<string>洋红色</string>
	</dict>
	<key>#FFF143</key>
	<dict>
		<key>key</key>
		<string>#FFF143</string>
		<key>rgb</key>
		<dict>
			<key>red</key>
			<integer>255</integer>
			<key>green</key>
			<integer>241</integer>
			<key>blue</key>
			<integer>67</integer>
		</dict>
		<key>remark</key>
		<string></string>
		<key>name</key>
		<string>鹅黄色</string>
	</dict>
	<key>#FF8936</key>
	<dict>
		<key>key</key>
		<string>#FF8936</string>
		<key>rgb</key>
		<dict>
			<key>red</key>
			<integer>255</integer>
			<key>green</key>
			<integer>137</integer>
			<key>blue</key>
			<integer>54</integer>
		</dict>
		<key>remark</key>
		<string></string>
		<key>name</key>
		<string>橘黄色</string>
	</dict>
	<key>#F0C239</key>
	<dict>
		<key>key</key>
		<string>#F0C239</string>
		<key>rgb</key>
		<dict>
			<key>red</key>
			<integer>240</integer>
			<key>green</key>
			<integer>194</integer>
			<key>blue</key>
			<integer>57</integer>
		</dict>
		<key>remark</key>
		<string></string>
		<key>name</key>
		<string>缃色</string>
	</dict>
	<key>#AFDD22</key>
	<dict>
		<key>key</key>
		<string>#AFDD22</string>
		<key>rgb</key>
		<dict>
			<key>red</key>
			<integer>175</integer>
			<key>green</key>
			<integer>221</integer>
			<key>blue</key>
			<integer>34</integer>
		</dict>
		<key>remark</key>
		<string></string>
		<key>name</key>
		<string>柳绿色</string>
	</dict>
	<key>#0C8918</key>
	<dict>
		<key>key</key>
		<string>#0C8918</string>
		<key>rgb</key>
		<dict>
			<key>red</key>
			<integer>12</integer>
			<key>green</key>
			<integer>137</integer>
			<key>blue</key>
			<integer>24</integer>
		</dict>
		<key>remark</key>
		<string></string>
		<key>name</key>
		<string>绿沉色</string>
	</dict>
	<key>#00E500</key>
	<dict>
		<key>key</key>
		<string>#00E500</string>
		<key>rgb</key>
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>225</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>remark</key>
		<string></string>
		<key>name</key>
		<string>绿色</string>
	</dict>
	<key>#25F8CB</key>
	<dict>
		<key>key</key>
		<string>#25F8CB</string>
		<key>rgb</key>
		<dict>
			<key>red</key>
			<integer>37</integer>
			<key>green</key>
			<integer>248</integer>
			<key>blue</key>
			<integer>203</integer>
		</dict>
		<key>remark</key>
		<string></string>
		<key>name</key>
		<string>湖绿色</string>
	</dict>
	<key>#96CE54</key>
	<dict>
		<key>key</key>
		<string>#96CE54</string>
		<key>rgb</key>
		<dict>
			<key>red</key>
			<integer>150</integer>
			<key>green</key>
			<integer>206</integer>
			<key>blue</key>
			<integer>84</integer>
		</dict>
		<key>remark</key>
		<string></string>
		<key>name</key>
		<string>豆青色</string>
	</dict>
	<key>#44CEF6</key>
	<dict>
		<key>key</key>
		<string>#44CEF6</string>
		<key>rgb</key>
		<dict>
			<key>red</key>
			<integer>68</integer>
			<key>green</key>
			<integer>206</integer>
			<key>blue</key>
			<integer>246</integer>
		</dict>
		<key>remark</key>
		<string></string>
		<key>name</key>
		<string>蓝色</string>
	</dict>
	<key>#4B5CC4</key>
	<dict>
		<key>key</key>
		<string>#4B5CC4</string>
		<key>rgb</key>
		<dict>
			<key>red</key>
			<integer>75</integer>
			<key>green</key>
			<integer>92</integer>
			<key>blue</key>
			<integer>196</integer>
		</dict>
		<key>remark</key>
		<string></string>
		<key>name</key>
		<string>宝蓝色</string>
	</dict>
	<key>#30DFF3</key>
	<dict>
		<key>key</key>
		<string>#30DFF3</string>
		<key>rgb</key>
		<dict>
			<key>red</key>
			<integer>48</integer>
			<key>green</key>
			<integer>223</integer>
			<key>blue</key>
			<integer>243</integer>
		</dict>
		<key>remark</key>
		<string></string>
		<key>name</key>
		<string>湖蓝色</string>
	</dict>
	<key>#8D4BBB</key>
	<dict>
		<key>key</key>
		<string>#8D4BBB</string>
		<key>rgb</key>
		<dict>
			<key>red</key>
			<integer>141</integer>
			<key>green</key>
			<integer>75</integer>
			<key>blue</key>
			<integer>187</integer>
		</dict>
		<key>remark</key>
		<string></string>
		<key>name</key>
		<string>紫色</string>
	</dict>
	<key>#000000</key>
	<dict>
		<key>key</key>
		<string>#000000</string>
		<key>rgb</key>
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>remark</key>
		<string></string>
		<key>name</key>
		<string>黑色</string>
	</dict>
	<key>#758A99</key>
	<dict>
		<key>key</key>
		<string>#758A99</string>
		<key>rgb</key>
		<dict>
			<key>red</key>
			<integer>117</integer>
			<key>green</key>
			<integer>138</integer>
			<key>blue</key>
			<integer>153</integer>
		</dict>
		<key>remark</key>
		<string></string>
		<key>name</key>
		<string>墨灰色</string>
	</dict>
</dict>
</plist>
